{% load webapp_extras %}


    <!-- c'est vous l'auteur -->
    {% get_poster_display review.user %}  avez publié une critique :
    <p>{{ review.headline }}
    <small>{{ review.time_created }}</small></p>

     <p>{{ review.body }}</p>

     <p class="rating">
         {% if review.rating == 1 %}    &#9733 &#9734 &#9734 &#9734 &#9734
         {% elif review.rating == 2 %}  &#9733 &#9733 &#9734 &#9734 &#9734
         {% elif review.rating == 3 %}  &#9733 &#9733 &#9733 &#9734 &#9734
         {% elif review.rating == 4 %}  &#9733 &#9733 &#9733 &#9733 &#9734
         {% elif review.rating == 5 %}  &#9733 &#9733 &#9733 &#9733 &#9733
         {% endif %}
     </p>





