{% load webapp_extras %}

<div class="article_ticket">

TICKET:
        {% if ticket.user == instance.user %}
            {% get_poster_display instance.user %}   avez demandé une critique


        {% endif %}
                <p><small>{{ instance.time_created }}</small></p>

        <p>{{ instance.ticket.title }}</p>
        {{ instance.ticket.description }}

                    <!--{#% get_poster_display instance.user %}  a demandé une critique:
                <small>{#{ ticket.time_created }}</small></p>-->


            <p class="front_img">
                {% if ticket.image.url is not None %}
                    <img src="{{ ticket.image.url }}">
                {% endif %}
            </p>

            <!--<p><a href="{#% url 'response-reviews' ticket_id=ticket.id %}">-->
            <button class="btn btn-outline-secondary">Créer une critique</button></a></p>


</div>

