{% extends 'base.html' %}
{% block content %}

<p><h4>Créer un ticket</h4></p>
<br/><br/>
        {% if ticket_form.instance.id %}
                <form method="POST" action="{% url 'create-ticket' ticket_id=ticket_form.instance.id %}" enctype='multipart/form-data'></form>
        {% else %}
                <form method="POST" action="{% url 'create-ticket' %}" enctype='multipart/form-data'>
        {% endif %}
                {{ ticket_form.as_p }}
                {% csrf_token %}
        <!--<button class="btn btn-secondary">Envoyer</button>-->
        <input type="submit">


<!--<button type="submit" >Télécharger fichier</button>-->
</form>


{% endblock %}