{% extends 'base.html' %}
{% load webapp_extras %}
{% block content %}
<h2>Page Flux</h2>

<div class="container_button">
    <ul>
        <li><a href="{% url 'ask-reviews' %}"><button>Demander une critique</button></a></li>
        <li><a href="{% url 'create-reviews' %}"><button>Creer une critique originale</button></a></li>
    </ul>
</div>
</br></br>
<div class="container">
    <div class = container_list >
        <ul>
            {% for instance in ordered_tickets_and_reviews %}
                {% if instance|model_type == 'Ticket' %}
                <!--Id - {%{ instance.id }}-->
                    {{ instance.user }} : a demandé une critique:
                    {{ instance.title }}
                    {{ instance.description }}
                    {{ instance.time_created }}<a href=
                          "{% url 'response-reviews' ticket_id=instance.id %}"><button>créer une critique</button></a>
        </ul>
        <ul>
                {% elif instance|model_type == 'Review' %}
                <!--Id - {%{ instance.id }}-->
                     {{ instance.user }} : posted a review
                     {{ instance.headline }}
                     {{ instance.rating }}
                     {{ instance.body }}
                {% endif %}
            {% endfor %}
        </ul></br>
    </div>
</div>

{% endblock content %}