{% extends 'base.html' %}
{% block content %}
<h2>Page Flux</h2>

<div class="container_button">
    <ul>
        <li><a href="{% url 'ask-reviews' %}"><button>Demander une critique</button></a></li>
        <li><a href="{% url 'create-reviews' %}"><button>Creer une critique originale</button></a></li>
    </ul>

</div>
<div class="main">
    <ul>
        {% for ticket in tickets %}
            Ticket - {{ ticket.user }}
            {{ ticket.title }}
            {{ ticket.description }}
            <small>{{ ticket.edition_date }}</small><a href="{% url 'ask-reviews' %}"><button>Créer une critique</button></a></br></br>
        {% endfor %}

        {% for review in reviews %}
            {{ review.ticket }}
            {{ review.rating }}
            {{ review.user }}
            {{ review.headline }}
            {{ review.body }}
            <small>{{ review.edition_date }}</small></br></br>
        {% endfor %}
    </ul>
</div>

{% endblock content %}




