{% extends 'base.html' %}
{% block content %}
    <p>Suivre d'autres utilisateurs</p></br></br>
    <form  action="{% url 'subscribers' %}"  method="post" >
        {% csrf_token %}
        {{ followed_form }}
        <input type="submit" value="Envoyer">
        <!--<button class="btn btn-outline-primary btn-sm" value="submit">Envoyer</button>-->
    </form></br></br>

    <!--<form method="get">-->
    <div class="follow_container">
        <div class="container_list">
            {% for instance in followed_users %}
            <ul>
                {{ instance.followed_user }} <a href=
                             "{% url 'unfollow' user_id=instance.followed_user.id %}"><button>Désabonner</button></a>
            </ul>
            {% endfor %}
            <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="info"><h1>{{ message }}</h1></div>
                {% endfor %}
            {% endif %}
            </div>
        </div>

    </div>

    <div class="follow_container">
        <div class="container_list_bottom">

                {% for user in follower_users %}
                    <ul>
                      {{ user.user }}
                    </ul>
                {% endfor %}

        </div>
    </div>

{% endblock content %}