{% extends 'base.html' %}
{% block content %}
    <p>Suivre d'autres utilisateurs</p></br></br>
    <form  action="{% url 'subscribers' %}"  method="post">
        {% csrf_token %}
        {{ followed_form }}
        <input type="submit" value="Envoyer">
    </form>





    <!--<form method="get">-->
    <div class="main">
        <ul>
            {% for instance in followed_users %}

                    {{ user }} suit:
                    {{ instance.followed_user }}<a href="{% url 'unfollow' user_id=user.id %}"><button>Désabonner</button></a></br>

            {% endfor %}
        </ul>
        <ul>
        {% for user in follower_users %}

              {{ user.user }}   </br>
        {% endfor %}


        </ul>

    </div>

{% endblock content %}