{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'flow.css' %}">
<div class="article_review">
<p>Créer une critique</p>

<br/><br/>
    <div class="article_review">
        <p>Vous êtes en train de poster en réponse à :</p>
            <div class="article_ticket">
                <p> Ticket {{ ticket.user }}   <small>{{ ticket.time_created }}</small></br></p>
                <p>{{ ticket.title }}</p>
                <p>{{ ticket.description }}</p>
                    <!--{#% template_exists 'someapp/sometemplate.html' %}-->
                <p>
                    {% if ticket.image.url is not None %}
                        <img src="{{ ticket.image.url }}">
                    {% endif %}
                </p>
            </div>
    </div>



    <div class="article_review">
            <form method="POST" action="{% url 'response-reviews' ticket_id=ticket.id %}">

            <p>Critique</p>
            {% csrf_token %}
            {{ ticket_form.as_p }}
            {{ review_form.as_p }}
            <!--<button class="btn btn-secondary">Envoyer</button>-->
            <input type="submit">
            </form>
    </div>
</div>
{% endblock %}


