{% extends 'base.html' %}
{% load static %}
{% load webapp_extras %}
{% block content %}
<link rel="stylesheet" href="{% static 'flow.css' %}">
<div class="article">
    <h4>Vos Posts</h4>

    {{ page_post }}
    {% for post in page_post %}
        {% if post|model_type == 'Review' %}
               {% include 'webapp/partials/review_posts_snippets.html' with review=post ticket=post.ticket edit_review='True' %}

        {% elif post|model_type == 'Ticket' %}
                {% include 'webapp/partials/ticket_posts_snippets.html' with ticket=post %}
        {% endif %}
    {% endfor %}

</div>f
<div class="paginator">
    <span>
        {% if page_post.has_previous %}
            <a href="?page=1">&laquo; première</a>
            <a href="?page={{ page_post.previous_page_number }}"><button>précédente</button></a>
        {% endif %}

        <span>Page {{ page_post.number }} sur {{ page_post.paginator.num_pages }}.</span>

        {% if page_post.has_next %}
            <a href="?page={{ page_post.next_page_number }}"><button>suivante</button></a>
            <a href="?page={{ page_post.paginator.num_pages }}"><button>dernière &raquo;</button></a>
        {% endif %}
    </span>
</div>



{% endblock %}