{% extends 'base.html' %}
{% block content %}

<div class="container_list">
    <h4>Vos Posts</h4>

    {% for ticket in tickets %}
        Ticket - {{ ticket.user }}
        {{ ticket.title }}
        {{ ticket.description }}
        <small>{{ ticket.time_created }}</small><a href="{% url 'response-reviews' %}">
                <button>Modifier</button></a><a href="#"><button class="btn btn-secondary">Supprimer</button></a></li></br></br>
    {% endfor %}


</div>
<div class="container_flux">
    <ul>
        <!--<li><a href="{#% url 'update-tickets' %}"><button class="btn btn-secondary">Modifier</button></a></li>
        <li><a href="#"><button class="btn btn-secondary">Supprimer</button></a></li>-->
    </ul>
</div>


{% endblock %}