{% extends 'base.html' %}
{% load static %}
{% load webapp_extras %}
{% block content %}
<link rel="stylesheet" href="{% static 'flow.css' %}">
<div class="article_post">
    <h4>Vos Posts</h4>

    {% for ticket in tickets %}
                <div class="article_post_ticket">
                    <p>Ticket - {{ ticket.user }}</p>
                    <p>{{ ticket.title }}</p>
                    <p>{{ ticket.description }}</p>
                    <small>{{ ticket.time_created }}</small><!--<a href="{#% url 'response-reviews' %}">-->
                    <p>
                        {% if ticket.image.url is not None %}
                            <img src="{{ ticket.image.url }}">
                        {% endif %}
                    </p>

                    <a href="{% url 'update-tickets' ticket_id=ticket.id %}" ><button class=
                                "btn btn-secondary">Modifier</button></a>
                    <a href="{% url 'delete-tickets' ticket_id=ticket.id %}">
                                <button class="btn btn-secondary">Supprimer</button></a></br></br>
                </div>
    {% endfor %}

    {% for review in reviews %}

            <div class="article_post_review">
                <p>Review - {{ review.user }}</p>
                <p>{{ review.headline }}</p>
                <p>{{ review.body }}</p>
                <small>{{ review.time_created }}</small>

                <a href="{% url 'update-reviews' review_id=review.id %}"><button class=
                            "btn btn-secondary">Modifier</button></a>
                <a href="{% url 'delete-reviews' review_id=review.id %}">
                            <button class="btn btn-secondary">Supprimer</button></a></br></br>

            </div>
            <div class="article_post_ticket">
                <p>Ticket - {{ review.ticket.user }}</p>
                <p>{{ review.ticket.title }}</p>
                <p>{{ review.ticket.description }}</p>
                <small>{{ review.ticket.time_created }}</small><!--<a href="{#% url 'response-reviews' %}">-->
                <p>
                    {% if review.ticket.image.url is not None %}
                        <img src="{{ review.ticket.image.url }}">
                    {% endif %}
                </p>

    {% endfor %}

</div>

{% endblock %}