{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'flow.css' %}">
<div class="article_post">
    <h4>Vos Posts</h4>

    {% for ticket in tickets %}
    <div class="article_post_ticket">
        <p>Ticket - {{ ticket.user }}</p>
        <p>{{ ticket.title }}</p>
        <p>{{ ticket.description }}</p>
        <small>{{ ticket.time_created }}</small><!--<a href="{#% url 'response-reviews' %}">-->
        <p>
                {% if ticket.image.url is not None %}
                    <img src="{{ ticket.image.url }}">
                {% endif %}
            </p>
        <a href="{% url 'create-ticket' ticket_id=ticket.id %}"><button class=
                    "btn btn-secondary">Modifier</button>
        </a><a href="{% url 'delete-tickets' ticket_id=ticket.id %}">
                    <button class="btn btn-secondary">Supprimer</button></a></br></br>
    </div>
    {% endfor %}

</div>

{% endblock %}