/* ========= Boutons header ========== */
.container_button{
    height: 100px;
    margin-bottom: 2em;
}

.container_button ul{
    height: 100px;
    width: 1200px;
    justify-content: space-between;
}
.container_button ul li{
    display: inline-block;
    height: 70px;
    width: 500px;
}
/* ===================================== */
.container .article {
    border: solid 1px #000;
    border-color: green;
    width: 80%;
    margin: auto;
    max-width: 1000px;
    border-radius: 5px;
    }

.container .article .article_review {
    margin: 10px;
    border: solid 1px #000;
    border-radius: 5px;
}

.container .article .article_ticket{
    margin: 10px;
    border: solid 1px #000;
    border-radius: 5px;
}

.article_review .inside_ticket {
    margin: 10px;
    padding: 20px;
    height: 350px;
    border: solid 1px #000;
    border-radius: 5px;
}

.article_review .inside_ticket .front_img {
    float: left;
}


/*
.container .article .article_review .review_ticket {
    margin: 10px;
    height: 400px;
    border: solid 1px #000;
    border-radius: 5px;
     }

.container .article .article_review p {
    display: flex;
    }
/*
.container .article-review {
     border: solid 1px #000;
     margin-bottom: 10px;
     border-radius: 5px;
     }

*/

/*
.container .article-review .ticket_body {
    margin: 20px;
    border: solid 1px #000;
    border-radius: 5px;
     }

.article_review .ticket_body {
    margin: 20px;
    border: solid 1px #000;
    border-radius: 5px;
     }

.article .article-ticket {
    margin: 10px;
    border-radius: 5px;
}

.article .article-ticket .article_header {
    display: flex;
    }
*/